@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    @foreach (var cat in (IEnumerable<Cat>)ViewData["CatData"]!)
    {
        <p>The Cat name is @cat.Name and the color is @cat.Color</p>
    }
</div>