@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome this is version Cat</h1>
</div>
<img src="~/cat.jpg" alt="Sample Photo" />